.task_button {
    display: flex;
    justify-content: space-between;
}
.task_button p{
 margin-right: 10px;
}
.task {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid #b0b0b0;
    border-bottom: 1px solid #b0b0b0;
}
.task:last-child{
    border-bottom: none;
}