.add-task {
    text-align: center;
}
.add-task h1{
    margin-bottom: 5px;
    text-align: center;
}
.add-task label{
   font-size: 20px;
    margin-bottom: 10px;
}
.add-task form {
    display: flex;
   flex-direction: column;

    text-align: center;
   align-items: center;

}
.add-task button{
    font-family: 'Dancing Script', cursive;
    color: #E0FFFF;
    width: 20%;
    height: 30px;
    border: none;
    border-radius: 20px;
    outline: none;
    background-color: orchid;
}
.add-task__input {

    font-family: 'Dancing Script', cursive;
    height: 30px;
    width: 50%;
    border: none;
    border-radius: 20px;
    outline: none;
}
