.title {
  text-align: center;
}
.tasks-list {
  display: flex;
  justify-content: space-around;
}
.tasks-list .tasks-list__active,
.tasks-list__done{
  width: 40%;
  border: 1px solid #b0b0b0;
  box-shadow: 0 0 10px #b0b0b0;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
}

.tasks-list__active {
  background-image: url("http://desktopwallpapers.org.ua/pic/201108/2560x1600/desktopwallpapers.org.ua-4450.jpg");
  filter: alpha(opacity=75);
  opacity: 0.75;
}
.tasks-list__done {
  background-image: url("https://poster.nicefon.ru/2018_12/02/1080x610/25335670e0f0f0eac88000.jpg") ;
  filter: alpha(opacity=75);
  opacity: 0.75;
}
.text {
  width: 80%;
  word-wrap: break-word;
}

