html{
  height: 100%;
  background: linear-gradient(lavender, orchid);
}
body {
  margin: 0;
  font-family: 'Dancing Script', cursive;
  color: #E0FFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h2 {
  text-align: center;
}